// @import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700|Source+Sans+Pro:400,400i,700');
// @import url('https://fonts.googleapis.com/css?family=Playball|Source+Sans+Pro:400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Raleway:800');

@mixin title_font {
    font-family: 'Raleway', sans-serif;
}

@mixin sans-serif {
    font-family: 'Source Sans Pro', sans-serif;
}

@mixin serif {
    // font-family: 'Playfair Display', serif;
    font-family: 'Playball', cursive;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: $black;
}