
body {
    margin: 0;
    overflow-x: hidden;
}

.container {
    max-width: 1640px;
    margin: 0 auto;
    padding-left: 2em;
    padding-right: 2em;

    @include lg {
        padding-left: 7.5%;
        padding-right: 7.5%;
    }
}

section {
    padding: 2em 0;
    position: relative;
}

.property,
.propertyLink {
    margin-bottom: 12px;

    strong {
        margin-right: 6px;
    }
}

.scrollIn {
    opacity: 0;
    position: relative;
    transition: opacity 1s ease-in-out;
    left: -10px;
  }
  .scrollIn[aria-hidden="false"] {
    opacity: 1;
    left: 0;
    transition: opacity 1s ease-in-out, left 1s ease-in-out;
  }
  
  
.background--black {
    background-color: $black;
}
.background--green {
    background-color: $green;
}
.background--white {
    background-color: $white;
}