
body {
    // background-color:#41f474;
    margin: 0;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
    padding-left: 1em;
    padding-right: 1em;
}

section {
    padding: 2em 0;
    // position: relative;

    .section--header {
        position: absolute;
        top: -62px;
        font-size: 18vw;
        opacity: 0.1;
    }
}

.property,
.propertyLink {
    margin: 12px 0;

    strong {
        margin-right: 6px;
    }
}

.scrollIn {
    opacity: 0;
    position: relative;
    transition: opacity 1s ease-in-out;
    left: -10px;
  }
  .scrollIn[aria-hidden="false"] {
    opacity: 1;
    left: 0;
    transition: opacity 1s ease-in-out, left 1s ease-in-out;
  }
  