/// <reference path="./vars.scss"></reference>

// Global Styling
* {
    word-wrap: break-all;
}

h1 {

}

h2 {
    letter-spacing: 0.025em;
    font-size: 58px;
    
    display: inline-block;
    padding-bottom: 0.2em;
    border-bottom: 0.1em solid $black;

    margin: 0.25em 0 0.5em;
        // padding: 0 86px;

    @include lg {
        font-size: 104px;
    }
}

h3 {
    font-size: 46px;

    @include lg {
        font-size: 66px;
    }
}

p {
    margin-bottom: 1em;
    line-height: 2em;
}
a {
    color: $black;
    &:hover {
        cursor: pointer;
        color: lighten($black, 15%);
    }
}
p, a {
    font-size: 1.1em;
}

b {
    font-weight: 700;
}

// Color
.text--black {
    color: $black;
}
.text--green {
    color: $green;
}
.text--white {
    color: $white;
}

// Alignment
.text--center {
    text-align: center;
}

.text--left {
    text-align: left;
}

.text--right {
    text-align: right;
}
