.portfolio__hero {
    // background-image: url("/images/pattern.jpg");
    // background-size: cover;
    // background-color: rgba(255,255,255,0.95);
    // background-blend-mode: lighten;
    min-height: 90vh;
    position: relative;

    &::before {
        content: "";
        background-image: url("/images/pattern.jpg");
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 100%;
        filter: opacity(10%);
    }
    .portfolio__hero--container {
        display: flex;
        height: 80vh;
        flex-flow: column;
        align-content: center;
        justify-content: center;
        

        .portfolio__hero--title {
            margin: 0;
            .letters {
                @include title_font;
                font-size: 5em;
                font-weight: 700;
            }
        }
        
        .portfolio__hero--content {
            margin-top: -4px;
            .letters {
                font-size: 2.1em;
                font-weight: 300;
                letter-spacing: 0.035em;
            }
        }
    }
}

