.portfolio__projects {
    @include section_top_border($green);
    background-color: $black;
    padding: 4em 0;


    .portfolio__projects--project {
        padding: 2em 0 1em;
        color: $white;

        .portfolio__project--tags {
            margin-bottom: 0.95em;
            margin-top: 0.95em;
        }

        // header {
        //     display: flex;
        //     align-content: center;
        // }

        h3 {
            @include title_font;
            display: inline-block;
            font-size: 3em;
            text-transform: lowercase;
            letter-spacing: 0.045em;

            &:hover {
                cursor: pointer;
                color: darken($white, 12%);
            }
        }

        .portfolio__project--tags {
            .tag:first-of-type {
                background-color: $white;
            }
        }

        .portfolio__project--content {
            $animation_time: 0.45s;
            $easing: $easeInOutExpo;
            overflow: hidden;
            border-width: 0;
            height: 0;
            opacity: 0;
            color: $white;
            border-top: 0.5em solid $green;
            border-bottom: 0.5em solid $green;
            border-radius: 20px;
            margin: 2em 0;
            transition: 
                height $animation_time $easing $animation_time,
                opacity $animation_time $easing,
                border $animation_time $easeOutExpo;
            
            &[aria-expanded="true"] {
                
                height: 40em;
                opacity: 1;
                transition: 
                    height $animation_time $easing,
                    opacity $animation_time $easing $animation_time,
                    border $animation_time $easeOutExpo $animation_time;
            }

            .content {
                padding: 2em 0;
            }
        }
    }
}