.portfolio__projects {
    @include section_top_border($green);
    background-color: $black;
    padding: 4em 0;

    color: #fafafa;

    .portfolio__projects--project {
        padding: 2em 0 1em;
        color: $white;

        .portfolio__project--tags {
            margin-bottom: 0.95em;
            margin-top: 0.95em;
        }

        h3 {
            @include title_font;
            display: inline-block;
            text-transform: lowercase;
            letter-spacing: 0.045em;
            

            &:hover {
                cursor: pointer;
                color: darken($white, 12%);
            }

            font-size: 15vh;
        }

        .portfolio__project--tags {
            .tag:first-of-type {
                background-color: $white;
            }
        }

        .portfolio__project--content {
            display: none;

            .portfolio__project--description {
                font-weight: 300;
            }

            .content {
                padding: 2em 0;
                font-weight: 300;
            }
        }

        .propertyLink {
            a {
                color: $green;
            }
        }
    }
}