.tag {
    background-color: $green;
    border-radius: 3px;
    padding: 6px 12px;
    margin-right: 1em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: 700;
    color: $black;
    font-size: 0.8em;
    margin-bottom: 12px;

    box-shadow: -4px 5px 1px rgba(0, 0, 0, 0.4);

    &.white {
        background-color: $white;
    }

    &.tag--inline {
        margin-right: 0;
        padding: 6px;
        box-shadow: none;
        margin-bottom: 0;
        line-height: 1em;
    }
}